<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/checkboxes-nojs.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <script src="../scripts/index.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="/api/user/<%= userid %>/message/removeall" method="post" class="tool-box">
        <label class="text-left"><%= username %>
          <span class="items-counter label-danger label label-as-badge"><%= messages.filter(function(message){return message.status === 'unchecked';}).length %></span>
          <span class="items-counter label-default label label-as-badge"><%= messages.length %></span>
        </label>
        <% if (locals.desktopClient == false) { %>
          <a class="utilities pull-right glyphicon glyphicon-log-out" href="/logoff"></a>
        <% } %>
        <a class="utilities pull-right glyphicon glyphicon-repeat" href="/user/<%= userid %>"></a>
        <% if (locals.downloadLink) { %>
          <a class="utilities pull-right glyphicon glyphicon-download-alt" href="<% downloadLink %>"></a>
        <% } %>
        <!-- <button type="submit" value="clear" class="pull-right btn btn-danger btn-sm <%= (messages.length != 0) ? '' : 'disabled' %>">Wyczyść listę</button> -->
      </form>
      <form action="/api/user/<%= userid %>/message/add" method="post" class="message-form">
        <input type="text" name="message" class="form-control input-default" placeholder="Wpisz cokolwiek..." autofocus>
      </form>
      <ul class="list-group">
        <% messages.reverse().forEach(function(msg) { %>
          <% if (msg.status === 'unchecked') { %>
            <% include partials/message %>
          <% } %>
        <% }) %>
        <% messages.forEach(function(msg) { %>
          <% if (msg.status === 'checked') { %>
            <% include partials/message %>
          <% } %>
        <% }) %>
      </ul> 
    </div>
  </body>
</html>
