<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/checkboxes-nojs.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/todo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/todo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/res/todo_64.png">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../scripts/index.js"></script>
  </head>
  <body>
    <% include partials/dialog-remove-all %>
    <% include partials/dialog-remove-message %>
    <div class="application-header">
	    <div class="container">
	      <div class="toolbox">
	        <!-- <span class="items-counter label-danger label label-as-badge"><%= messages.filter(function(message){return message.status === 'unchecked';}).length %></span> -->
	        <!-- <span class="items-counter label-default label label-as-badge"><%= messages.length %></span> -->
          <a class="glyphicon glyphicon-option-horizontal toolbox-menu" href="javascript:void(0)"></a>
          <a class="glyphicon glyphicon-repeat utilities" href="/user/<%= userid %>"></a>
		      <a class="message-removeall glyphicon glyphicon-trash utilities" href="javascript:void(0)"></a>
		      <% if (locals.downloadLink) { %>
		        <a class="utilities glyphicon glyphicon-download-alt utilities" href="<%= downloadLink %>"></a>
		      <% } %>	      
        </div>
	      <span class="pull-right">
	        <span class="user" data-toggle="tooltip" data-placement="bottom" title="Witaj <%= username %>!"><%= username %></span>
		      <% if (locals.desktopClient == false) { %>
		        <a class="glyphicon glyphicon-log-out utilities-user" data-toggle="tooltip" data-placement="bottom" title="Kliknij aby się wylogować" href="/logoff"></a>
		      <% } %>
		    </span>
	      <form class="message-form" action="/api/user/<%= userid %>/message/create" method="post">
	        <input type="text" name="message" class="form-control input-default" placeholder="Zanotujmy coś..." autofocus>
	      </form>
	    </div>
		</div>
    <div class="container application-list">
      <ul class="list-group">
        <% messages.filter(function(message){return message.status === 'unchecked';}).sort(function(a, b) { return b.timestamp - a.timestamp ; }).forEach(function(msg) { %>
          <% include partials/message %>
        <% }) %>
        <% messages.filter(function(message){return message.status === 'checked';}).sort(function(a, b) { return b.timestamp - a.timestamp ; }).forEach(function(msg) { %>
          <% include partials/message %>
        <% }) %>
      </ul> 
    </div>
  </body>
</html>
