<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- CSS (load bootstrap from a CDN) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body class="container">

	  <div class="container">
			<form action="/api/user/<%= userid %>/message/removeall" method="post" class="tool-box">
			  <label class="user text-left"><%= username %><span class="items-counter badge"><%= messages.length %></span></label>
			  <a href="/logoff">Wyloguj</a>
				<button type="submit" value="clear" class="pull-right btn btn-danger btn-sm <%= (messages.length != 0) ? '' : 'disabled' %>">Wyczyść listę</button>
			</form>

			<form action="/api/user/<%= userid %>/message/add" method="post" class="message-form">
 				<input type="text" name="message" class="form-control input-default" placeholder="Wpisz cokolwiek..." autofocus>
			</form>

	    <ul class="list-group">
	    	<% messages.reverse().forEach(function(msg) { %>
	    		<% include partials/message %>
	    	<% }) %>
	    </ul> 
    </div>

  </body>
</html>
