<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/credentials.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" sizes="16x16" href="/res/todo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/todo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/res/todo_64.png">    
    
    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../scripts/login.js"></script>
  </head>
  <body>
    <div class="application-header">
      <div class="container">
        <div class="btn-group pull-right" style="padding-top:10px;">
          <button type="button" class="locale-button btn btn-link dropdown-toggle" data-toggle="dropdown" style="text-decoration: none; padding-right: 0px; color:white">
            <span class="glyphicon glyphicon-globe"></span> <%= language %> <span class="glyphicon glyphicon-menu-down">
          </button>
          <ul class="dropdown-menu-right dropdown-menu scrollable-menu">
            <li><a class="locale dropdown-item" href="" data-locale="en-US">English (United States)</a></li>
            <li><a class="locale dropdown-item" href="" data-locale="pl-PL">Polski</a></li>
          </ul>
        </div>
      </div>        
    </div>
    <div class="credentials-container container">
    <% if (locals.path) { %>
      <form action="/login?path=<%= path %>" method="post" class="message-form">
    <% } else { %> 
      <form action="/login" method="post" class="message-form">
    <% } %> 
        <div class="form-group">
          <% if (locals.error) { %>
            <div class="alert alert-danger" role="alert"><strong><%= resources.errorTag %></strong> <%= error %></div>
          <% } %> 
          <label for="user"><%= resources.userName %></label>
          <% if (locals.user) { %>
            <input id="user" name="user" class="form-control input-default" placeholder="<%= resources.userNamePlaceholder %>" value="<%= user %>">
          <% } else { %>
            <input id="user" name="user" class="form-control input-default" placeholder="<%= resources.userNamePlaceholder %>">
          <% } %>
        </div>
        <div class="form-group">
          <label for="pwd"><%= resources.userPassword %></label>
          <input id="pwd" type="password" name="pwd" class="form-control input-default" placeholder="<%= resources.userPasswordPlaceholder %>">
        </div> 
        <button type="submit" class="form-control btn btn-primary"><strong><%= resources.signInButtonText %></strong></button>
      </form>
    </div>
  </body>
</html>