<li class="list-group-item">
  <div class="checkbox">
    <input type="checkbox" id="<%= msg._id %>" class="message-toggle" data-user-id="<%= userid %>" data-message-id="<%= msg._id %>" <%= msg.status %>>
    <label for="<%= msg._id %>" tooltip="<%= Date(msg.timestamp) %>">
      <%= msg.text %>
    </label>
    <form action="/api/user/<%= userid %>/message/delete/<%= msg._id %>" method="post" class="pull-right">
      <button type="submit" class="message-delete glyphicon glyphicon-remove">
    </form>
  </div>
</li>
